/************************************************************************/
/**************************** FOOTER STYLES *****************************/
/************************************************************************/

.footer {
    background-color: $footerBG;
    @include desktop {
        .section {
            padding-top: 2em;
            padding-bottom: 1em;
        }
    }
    
    .utility-container {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
        }
        .logo-container {
            width: 15em;
            margin: 0 auto;
            order: 1;
            @include tablet {
                order: unset;
                margin: unset;
                flex-basis: 33%;
                align-self: center;
                img {
                    max-width: 15em;
                }
            }
            @include desktop {
                flex-basis: 20%;
            }
        }
        .menu-container {
            &:first-child {
                order: 2;
                position: relative;
                &::after {
                    content: " ";
                    position: absolute;
                    left: 44%;
                    width: 3em;
                    height: 0.2em;
                    border-radius: 1em;
                    background-color: $white;;
                }
            }
            &:nth-child(3) {
                order: 3;
            }
            .footer-nav {
                padding-left: 0;
                list-style-type: none;
                text-align: center;
                li {
                    padding: 1em 0.5em;
                    a {
                        color: $black;
                        &:hover {
                            color: $primary;
                        }
                    }
                }
                
                @include tablet {
                    flex-basis: 100%;
                    display: flex;
                    flex-direction: column;
                }
            }
            @include tablet {
                flex-basis: 66%;
                display: flex;
                align-items: center;
                &:first-child,
                 &:nth-child(3) {
                    order: unset;
                }
                &:first-child {
                    &::after {
                        content: none;
                    }
                }
            }
            @include desktop {
                flex-basis: 80%;
            }
        }
    }
    .info-container {
        color: $black;
        text-align: center;
        font-size: 0.75em;
        a {
            color: $black;
            &:hover {
                color: $primary;
            }
        }
        .icon-wrapper {
            margin: 1em 2em 0;
            img {
              width: 2em;
            }
          }
        @include desktop {
            margin-top: 1em;
            border-top: 1px solid $white;
            .info-block {
                margin-top: 1em;
            }
        }
    }
}