/************************************************************************/
/*********************** GLOBAL DEFAULTS & RESETS ***********************/
/************************************************************************/

:root {
    --body-font: Helvetica, Arial, sans-serif;
    --heading-font: serif;
    --section-padding: 1rem;
    --link-color-example: black;
    font-size: $mainFontSize;
}

@include tablet {
    :root {
        --section-padding: 2rem;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


*:focus,
*:active {
  outline: none;
}


html {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth; 
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: MontserratRegular, Helvetica, Arial, sans-serif;
    font-size: 4.27vw;
    background-color: $mainBG;
    color: $baseColor;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth; 
    @include tablet {
    	font-size: $mainFontSize;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: costa, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.25;
    margin: 0.25em 0;
    color: $primary;
}
h1 {
	font-size: 2em;
    @include tablet {
        font-size: 2.5em;
    }
}
h2 {
	font-size: 1.75em;
    @include tablet {
        font-size: 2em;
    }
}
h3 {
	font-size: 1.5em;
    @include tablet {
        font-size: 1.75em;
    }
}
h4 {
	font-size: 1.25em;
    @include tablet {
        font-size: 1.5em;
    }
}
p {
    font-size: 1em;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: $baseColor;
    transition: 0.25s;
    cursor: pointer;
    &:hover {
        text-decoration: none;
       
    }
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

/************************************************************************/
/***************************** GLOBAL CLASSES ***************************/
/************************************************************************/

.uppercase {
    text-transform: uppercase;
}

.align--center {
    text-align: center;
}

.align--left {
    text-align: left;
}

.align--right {
    text-align: right;
}

.heading {
    font-size: 1.85em;
    @include tablet {
        font-size: 2em;
    }
    &.large {
        @include tablet {
            font-size: 3em;
        }
    }
    
}

.subheading {
    font-size: 1.25em;
    text-transform: uppercase;
}

.section {
    width: 100%;
    max-width: 1180px;
    padding: 4em 1em;
    margin: 0 auto;
    position: relative;
    @include tablet {
        padding: 4em 2em;
    }
}

.section-wrapper {
    max-width: 1180px;
	margin: 0 auto;
    z-index: 1;
    position: relative;
}

.image-wrapper {
    width: var(--image-width, auto);
    height: var(--image-height, auto);
    margin: 0 auto;
}

.btn {
    font-size: 1em;
    padding: 0.5em 2.5em;
    margin: 0.5em 0;
    transition: 0.25s;
    text-transform: uppercase;
    text-align: center;
    min-width: 100%;
    font-family: MontserratBold;
    @include borderRadius();
    @include transitionAll();
}

.btn-primary {	
	background-color: $secondary;
    border: 0.2em solid $secondary;
    color: $black;
    &:hover {
        background-color: $primary;
        border: 0.2em solid $primary;
        color: $white;
    }
}

.btn-secondary {
    background-color: $primary;
    border: 0.2em solid $primary;
    color: $white;  
    &:hover {
        background-color: $secondary;
        border: 0.2em solid $secondary;
        color: $black;
    }
}

.btn-back {
    cursor: pointer;
    display: block;
    margin: 1em 0;
    border: 0;
    background: 0;
    font-family: inherit;
    text-decoration: underline;
    padding: 0;
    color: $primary;
}

.white-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
    opacity: 0.67;
    z-index: 0;
}

.black-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $black;
    opacity: 0.67;
    z-index: 0;
}
/******************* HELPERS *********************/

.desktop-only {
    display: none;
    @include tablet {
        display: block;
    }
}

.mobile-only {
    display: block;
    @include tablet {
        display: none!important;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.no-padded-sides {
    padding-left: 0;
    padding-right: 0;
}

.no-padded-top {
    padding-top: 0;
}

.no-padded-bottom {
    padding-bottom: 0;
}

/******************* NATIVE PAGES *********************/
.section.error {
    @include tablet {
        min-height: calc(100vh - 315px);
    }
}

//BLOG SIDEBAR CATEGORY LIST STYLE EDITS
.wp-block-categories-list.wp-block-categories,  
.wp-block-archives-list.wp-block-archives {
    list-style: none;
    padding-left: 0;

}
.wp-block-latest-posts.wp-block-latest-posts__list li, 
.wp-block-categories-list.wp-block-categories li {
    margin: 0.5em 0;
}
/******************* SLICK SLIDER *********************/
.slick-slider {
    .slick-track {
        display: flex;
        .slick-slide {
            display: flex;
            height: auto;
            align-items: center;
            justify-content: center;
            padding: 0 1em;
            img {
                width: 100%;
            }
        }
    }
    .slick-dots  {
        bottom: -3em;
        li {
            button:before {
                color: $white;
                opacity: 1;
                font-size: 15px;
            }
            &.slick-active {
                button:before {
                    color: $primary; 
                    opacity: 1;
                }
            }
        }
    }
}

.tribe-common--breakpoint-medium.tribe-events .tribe-common-c-btn.tribe-events-c-search__button,
.tribe-common-c-btn-border .tribe-events-c-subscribe-dropdown__button,
.tribe-common--breakpoint-medium.tribe-common .tribe-common-c-btn-border {
    @extend .btn;
    @extend .btn-primary;
    min-width: 10em;
}
.tribe-events .tribe-events-calendar-month__day-cell--selected, 
.tribe-events .tribe-events-calendar-month__day-cell--selected:focus, 
.tribe-events .tribe-events-calendar-month__day-cell--selected:hover {
    background-color: $primary;
}